<!DOCTYPE html>
<html lang="ar">

<head>
  {% extends 'layout.html' %}
  {%block title %}   {%endblock%}

</head>

<body>
  {% block contact %}

  <section>
    <div class="container text-center">
      <h5 >جامعة واسط/ علوم الحاسوب</h5>
      <p style="  line-height: 2.5;">
      يسعى قسم علوم الحاسوب ان يكون من اهم الأقسام المتميزة علمياً  قادر على تخريج طلبة متميزين في ظل وجود سوق تنافسية مفتوحة كما يطمح الى تطوير البحث العلمي بحيث يساهم في رفع فعالية التعليم وتحسين المعرفة المتميزة لعضو الهيئة التدريسية.
      الرسالة

      يسهم قسم الحاسوب في اداء الرسالة الأكاديمية التي تطلع بها كلية علوم الحاسوب وتكنولوجيا المعلومات في جامعة القادسية ويحرص القسم على أعداد نوعية متميزة من الخريجين يتمتعون بخلفية اكاديمية تجمع بين المعارف والمهارات الاساسية المطلوبة في سوق العمل مع التمسك في الوقت ذاته بالأخلاقيات والقيم.
      
      الاهداف

      اعداد وتأهيل المختصين لتلبية متطلبات لتلبية متطلبات سوق العمل بقطاعية العام والخاص في علوم الحاسب من خلال التنويع في طرق التعلم والتعليم وتدريب الطلاب على تطبيق المعارف والمهارات المكتسبة لحل مشاكل واقعية.
      تهيئة المناخ المناسب للطلاب وبما يمكنهم من تطبيق معارفهم ومهاراتهم المكتسبة في التعرف على احتياجات ومشكلات المجتمع والامور الاجتماعية ذات العلاقة بالحاسب.
      تقديم برامج اكاديمية متميزة في مجال علوم الحاسب بشقية النظري والتطبيقي تتوافق مع المعايير العالمية للجودة الاكاديمية وتلبي حاجة سوق العمل.
      تشجيع وتنمية البحث العلمي في مجالات علوم الحاسب بشكل عام مجالات الذكاء الاصطناعي والانسان الالي واللغويات الحاسوبية الشبكات بشكل خاص .
      اعداد بيئة محفزة لاعضاء لأعضاء هيئة التدريس لتطويرمعارفهم ومهاراتهم التعليمية والبحثية.
      بناء وتطوير الشراكة مع القطاعات الحكومية والاهلية والمجتمع بكافة مؤسسات المختلفة.
    </p>
    </div>

  </section>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
    jQuery("p").attr("dir", "rtl")
    </script>
  {%endblock%}


</body>

</html>