<!DOCTYPE html>
<html lang="ar">

<head>
  {% extends 'layout.html' %}
  {%block title %} الزراعة كلية {%endblock%}

</head>

<body>
  {% block contact %}

  <section>
    <div class="container">
      <h5>جامعة واسط/كلية الزراعة </h5>
      <p style="  line-height: 2.5;"></p>

      ابتدأت فكرة تأسيس كلية الزراعة في جامعة واسط منذ تأسيس الجامعة في 13/1/2003 ، واستمرت الجهود والدراسات المبذولة من قبل رئاسة الجامعة حول استحداث هذه الكلية وكان تحديد موقع الكلية أهم العوامل التي أدت إلى تأخر استحصال موافقات استحداث الكلية وقد بذلت اللجان المشكلة من قبل جامعة واسط جهود كبيرة في أنجاز دراسات استحداث هذه الكلية وبمؤازرة الأستاذ الدكتور جواد مطر الموسوي رئيس جامعة واسط  تكللت هذه الجهود بحصول موافقة وزارة التعليم العالي والبحث العلمي على استحداث كلية الزراعة بتاريخ 15/5/2008 متمثلة بقسمين علميين هما

      نبذة تاريخية عن تأسيس وتطور الكلية
      
      قسم الإنتاج الغذائي والحيواني
      قسم التربة وتقنيات الري
      وبعد ذلك استمرت الجهود من أجل تطوير الكلية حيث تم استحداث قسمين علميين وهما :
      
      قسم المحاصيل الحقلية
      قسم وقاية النبات
      وتكللت الجهود في العام الدراسي 2017-2018 بإستحداث الدراسات العليا (الماجستير) في قسم علوم التربة والموارد المائية .
      
      رؤية ورسالة وأهداف كلية الزراعة
      
      الرؤية
      
                تسعى كلية الزراعة الى الارتقاء والتميز في تعليم العلوم الزراعية وتطبيقاتها ، لإعداد ملاكات زراعية متخصصة ومؤهلة لمسايرة متطلبات خطط التنمية ، واحتياجات سوق العمل ، ولتصبح الكلية من بين أفضل كليات الزراعة على المستوى المحلي والعربي .
      
      الرسالة
      
                 تتمثل رسالة كلية الزراعة بأعداد الملاكات الزراعية المتميزة ، وأجراء البحوث والدراسات وتبني المعرفة الحديثة واستعمال وإشاعة التقنية في المجالات الزراعية المتطورة حرصا على خدمة وتطوير الخدمات والمشاريع الزراعية في المجتمع
    </div>

  </section>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
    jQuery("p").attr("dir", "rtl")
    </script>
  {%endblock%}


</body>

</html>