<!DOCTYPE html>
<html lang="ar">

<head>
    {% extends 'layout.html' %}
    {%block title %} كلية التربية للعلوم الصرفه {%endblock%}

</head>

<body>
    {% block contact %}

    <section>
        <div class="container">
            <h5>جامعة واسط/ كلية التربية للعلوم الصرفه</h5>
            <p style="  line-height: 3;"></p>
            تأسست كلية التربية التي كانت تابعة لجامعة القادسية مع بداية العام الدراسي 1996/1997وبدات مسيرتها العلمية
            بفتح ثلاثة أقسام علمية هي قسم اللغة العربية ,وقسم التاريخ, وقسم الجغرافية وبملاك تدريسي 23,وملاك وظيفي
            35,وعدد الطلاب 457 . وفي العام الدراسي 1997/1998تم فتح قسمين آخرين هما قسم اللغة الانكليزية وقسم العلوم
            التربوية والنفسية وكذلك فتحت فيها الدراسة المسائية .وفي العام الدراسي 1999/2000تم افتتاح الذي تم تحويله فيما
            بعد الى كلية العلوم واستمرت الكلية في توسعها فقد تم في العام الدراسي 2002/2003فتح الدراسات العليا الماجستير
            في قسم التاريخ بعد توفر كافة الإمكانيات ألازمة لذلك .وهكذا استمرت الكلية في التطور والتوسع في كل الاتجاهات
            حيث تم في العام الدراسي 2006 /2007 فتح قسم التربية الرياضة الذي أصبح فيما بعد كلية قائمة بذاتها وفي العام
            الدراسي 2009/2010 تم استحداث قسم علوم القران وفي العام الدراسي 2012/2013 تم استحداث قسمي الرياضيات وقسم علوم
            الحياة لتصبح كلية التربية.
            اليوم تضم تسعة أقسام علمية هي قسم اللغة العربية ،وقسم الجغرافية, وقسم التاريخ, وقسم اللغة الانكليزية ,وقسم
            علوم القران، وقسم العلوم التربوية والنفسية, وفي العام الدراسي 2013/2014 تم فتح قسمين آخرين في قضاء العزيزية
            تابعين للكلية هما قسم اللغة العربية وقسم العلوم التربوية والنفسية وفي العام الدراسي 2014/2015 تم فتح قسم
            علوم الحاسبات.

            في العام الدراسي 2002/2003 افتتحت الدراسات العليا الماجستير قسم التاريخ واستحدثت دراسة الدكتوراه في العام
            الدراسي 2008/2009 واليوم أصبحت الدراسات العليا الماجستير في أربعة أقسام علمية هي قسم اللغة العربية ,وقسم
            الجغرافية, وقسم التاريخ, وقسم العلوم التربوية والنفسية, ودراسة الدكتوراه في قسم التاريخ وقسم الجغرافية.
            وتهدف الكلية إلى إعداد متخصصين في حقول العلم والمعرفة والتقنيات وتزويدهم بالإمكانيات اللازمة لمواصلة البحث
            ومواكبة التطور الهائل في مجال البحث العلمي والتكنولوجيا، بالإضافة إلى نشر ثقافة الإبداع في مجال العلوم
            الأساسية والانفتاح على متطلبات المجتمع وسد احتياجاته. وتقوم الكلية من خلال أقسامها بأعداد الخطط البحثية
            العلمية وتشجيع المشاريع الاستراتيجية فضلا عن نشاطاتها في إقامة علاقات تعاون وتبادل معرفي مع المؤسسات العلمية
            داخل القطر وخارجه عن طريق المشاركة في المؤتمرات والندوات المحلية والدولية لخلق فرص لتدريس ي الكلية لتبادل
            الخبرات ونتائج التجارب والأبحاث، كما وتعمل الكلية على إقامة دورات تدريبية فضلا عن عقد الندوات وإلقاء
            المحاضرات العلمية والحلقات النقاشية.
        </div>

    </section>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
        jQuery("p").attr("dir", "rtl")
    </script>
    {%endblock%}


</body>

</html>