<!DOCTYPE html>
<html lang="ar">

<head>
  {% extends 'layout.html' %}
  {%block title %}   كلية القانون {%endblock%}

</head>

<body>
  {% block contact %}

  <section>
    <div class="container">
      <h5>جامعة واسط/ كلية القانون</h5>
      <p style="  line-height: 2.5;">
        أسست الكلية في ۲۰۰٦/٣/٢ ويكون فيها القبول مركزيا يقبل فيها خريجو الدراسة الإعدادية بفرعيها العلمي والأدبي على وفق الضوابط المعتمدة رسميا تحتوي الكلية على فرعين هما فرع القانون العام وفرع القانون الخاص تكون مدة الدراسة فيها أربع سنوات يمنح المتخرج فيها شهادة البكالوريوس في القانون.

        الغاية من تأسيسها رفد دوائر الدولة وخاصة العدلية والحقوقية ومؤسسات المجتمع المدني بالملاكات القانونية والحقوقية المؤهلة والمتخصصة بعلوم القانون بكافة فروعه وإعداد الباحثين المتخصصين في مجال القانون والمساهمة في بناء دولة المؤسسات وترسيخ مبادئ سيادة القانون وتعزيز نهج حقوق الإنسان وإشاعة الثقافة القانونية.
       
        كذلك تنظيم القواعد القانونية التي تحكم الروابط الناشئة بين الأفراد أو بينهم وبين الدولة بوصفها شخصا معنويا عاديا ووضع القوانين التي تنظم الدعاوى بين الأفراد كدعاوى الملكية ودعاوى الدين أو دعاوى الأحوال الشخصية أو الدعاوى التي يقيمها الأفراد على
       
        +
       
        الدولة
       
        لاشك بان قواعد القانون قابلة للتغيير تبعا للظروف المستجدة التي تحدث في المجتمع إذ تقوم السلطة التشريعية ( البرلمان ) في كل دولة في إلغاء القوانين أو تعديلها التي لم تعد تتناسب أو تتفق مع الأوضاع القائمة كما إن القانون يمكن أن يواكب التطورات التي تحدث في الدولة على مختلف المجالات إذ بدأت تظهر قوانين تنظم العديد من مجالات الحياة
      </p>


    </div>

  </section>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
    jQuery("p").attr("dir", "rtl")
    </script>
  {%endblock%}


</body>

</html>