<!DOCTYPE html>
<html lang="ar">

<head>
  {% extends 'layout.html' %}
  {%block title %}   علوم الحياه  {%endblock%}

</head>

<body>
  {% block contact %}

  <section>
    <div class="container text-center">
      <h5>جامعة واسط/ علوم الحياه</h5>
      <p style="  line-height: 2.5;">
      
نبذة تاريخية عن قسم علوم الحياة
نبذة تاريخية عن القسم

يعد قسم علوم الحياة من اول اقسام العلوم الصرفـــة فـي كليـة التربيــة بجامعــة واسط ،وجاء انبثاق القسم فـــي العــام الدراسي 2012-2013 وانيطت مهمـــة تأسيس القسم ورئاستــــه الـــى الدكتـــور ظافر حسن غالي وبتعــاون الجميــع من تدريسيي القسم وموظفيــه ودعم رئاسة الجامعة وعمادة كليـــة التربيــة آنذاك وضعت اللبنات الاساسيــة لقسم علوم الحيــاة واستقبل القسم اول دفعــة مـن طلابــه مــع انطلاقــة العــام الدراسي 2012-2013 . وفــي العــام الدراســي 2018/2019 استقبل القسم اول دفعــة من طلاب المرحلـة الاولى للدراسة المسائيــة ويرأس القسم حاليــا الدكتــور علــي فياض برغوث . يحتوي قسم علـــوم الحيـاة علــى اربـع قاعـــات لإعطــاء الدروس النظريــة وقاعــــة للدراسات العليا واربع مختبرات حديثـــة للدروس العمليـــة فضــلا عــن مختبــر بحث للتدريسيين ويضم القسم ايضـــا مكتبــة تحتوي علــى العديد من الكتب والمراجـع العلميـة التي تفيد الطلبة والتدريسيين فضلا عن احتواء المكتبة على الكتب المنهجية والتي توفر مجانا لطلبة القسم. 

رؤية القسم

يعمل القسم على تدريب الطلاب على تحقيق التفوق الأكاديمي من خلال المناهج الحديثة، والتعليم التجريبي والأنشطة اللامنهجية. ويعمل القسم علــى توفير المنــاخ الفكــري، حيث يتفاعل الطــلاب الجامعيين مع هيئـــة التدريس. وسوف يكتسب الطلاب المعرفة اللازمة لمواصلة الدراسات العليا أو العمل في المجال التربوي.   

رسالة القسم 

قسم علوم الحيــاة قسم علمي مختص بتعليـم الطلبــة مبادئ العلــوم البيولوجيــــة والنهوض بمستواهم مـــن خـــلال  الدراســات التجريبية وتطبيق بعض التقنيات الحديثة من اجل فهم الكائنات الحية والبيئة المحيطة بهم.                                                                                                          

الاهداف

1- تشجيع الطلبة على تحقيق التفوق الأكاديمي من خلال المناهج الحديثة حيث تجمع المناهج الدراسية النظرية والعملية بين المفاهيم الراسخة و المعلومات العلمية والتكنولوجيا الحديثة.

2- تزود المختبرات التعليمية الطلبة بالدروس العملية المكملة للدروس النظرية وادخال التقنيات الحديثة والتدريب في المنهج العلمي.

3- يوفر القسم المناخ الفكري لرعاية الطلبة وافساح المجال لهم للتواصل مع المستجدات الحديثة في علوم الحياة من خلال التواصل مع الهيئة التدريسية للقسم.

4- توفير الاحساس بانتماء الطلبة لمجتمع الجامعة وتشجيعهم على مواصلة الدراسات العليا وبث روح الابداع والابتكار.
</p>
    </div>

  </section>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
    jQuery("p").attr("dir", "rtl")
    </script>
  {%endblock%}


</body>

</html>