<!DOCTYPE html>
<html lang="ar">

<head>
  {% extends 'layout.html' %}
  {%block title %} الرياضيات{%endblock%}

</head>

<body>
  {% block contact %}

  <section>
    <div class="container text-center">
      <h5>جامعة واسط/ الرياضيات </h5>
      <p style="  line-height: 2.5;">


        نبذة تاريخية عن القسم
        تم استحداث قسم علوم الرياضيات في العام الدراسي 2012/2013 ويعتبر من الاقسام العلمية المهمة لصلته الوثيقة بتطور
        المجتمع ونمائه، وان القسم يعمل على انجاز التنمية البشرية الموزونة والمتكافئة التي يصبح بها المواطن الأداة المثلى
        والغاية المنشودة معا ; ويقبل الطلبة من خريجي الدراسة الاعدادية – الفرع العلمي حسب مجاميعهم حيث يمنح الطالب عند
        تخرجه درجة البكالوريوس في علوم الرياضيات . وقد انيطت مهمة تأسيس القسم ورئاسته الى الدكتورة أثير غازي حسين وثم
        الدكتور علي خلف حسين ومن ثم الدكتور علي حسين شعاع ويرأس القسم حاليا الدكتور عقيل سيد نور واستقبل القسم على بركة
        الله اول دفعة من طلابه مع انطلاقة العام الدراسي 2012/2013 وفي العام الدراسي 2017/2018 فتح القسم للطلبة باب
        التقديم للدراسة المسائية . يحتوي قسم علوم الرياضيات على ست قاعات دراسية ومختبر للحاسبات , ويهدف القسم الى إعداد
        مدرس جيد مقتدر على تدريس مادة الرياضيــات وتكملة دراستــه العليــا وإعداد خريجيــن قادرين علـى العمل فــي كافــة
        القطاعـات المختلفــة في المجتمع. </p>


    </div>

  </section>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script>
    jQuery("p").attr("dir", "rtl")
  </script>
  {%endblock%}


</body>

</html>