<html>
<head>
  {% extends 'layout.html' %}
  {%block title %}نبذه عن الجامعة{%endblock%}

</head>
<body>
  {% block contact %}
  <div class="container d-flex justify-content-center justify-content-md-between section-bg" >
    <div class="m-md-4">
      <h4>نبذه عن جامعة واسط</h4>
      <p style="  line-height: 2.3;">جامعة واسط تقترب من اطفاء شمعتها العشرين
        في يوم 13 / 1 / 2003 برز في محافظة واسط صرح علمي طالما حلم به أبناء المحافظة ولاسيما المثقفون وطالبو العلم
        والمعرفة وهو
        جامعة واسط ليكون مصدراً مهماً وأساسياً في إشاعة نور المعرفة والعلم والثقافة في المحافظة،
        تسعى جامعة واسط إلى تحقيق التميز في مجال التعليم الجامعي والبحث العلمي من خلال بناء نظام لإدارة الجودة الشاملة
        لكلياتها
        وأقسامها الإدارية والفنية والعلمية ومراكزها البحثية في ظل بيئة منفتحة على التجديد تتوافر فيها بنية تحتية متينة
        قادرة على
        دعم التواصل والتفاعل الأكاديمي
        تهدف الجامعة لتوفير مستلزمات التعليم الجامعي الأولي والدراسات العليا ، لأعداد مواطنين أكفاء مؤهلين لأداء واجبهم
        والنهوض
        ببلدهم و القيام بعمل ايجابي في ميدان البحث العلمي ، فضلا عن تلك البرامج المتعلقة بالنمو الاقتصادي والتنمية في
        مجالات
        العلوم المختلفة للاسهام في خدمة المجتمع المحلي واستثمار موارده وتعزيز هويته الثقافية ، والمحافظة على ما فيه من
        قيم
        اخلاقية واجتماعية . ، من خلال التقويم المستمر لمخرجات العملية التعليمية ،
        اليوم وجامعتنا الحبيبة تقترب من عامها 20 تضم 15 كلية هي كلية التربية للعلوم الانسانية وكلية الادارة والاقتصاد
        وكلية
        العلوم وكلية الهندسة والقانون والطب وطب الاسنان وطب البيطري والاداب والتربية البدنية وعلوم الرياضة وكلية التربية
        للعلوم
        الصرفة والزراعة والتربية الاساسية وكلية الحاسوب وتكنلوجيا المعلومات وكلية الفنون الجميلة
        اضافة الى 4 مراكز علمية وهي مركز الحاسوب والمعلوماتية مركز التعليم المستمر مركز ابن سينا والمركز الثقافي وكذلك
        المكتبة
        المركزية
        ولن يقف طموح القائمين على ادارة هذه المؤسسة عند هذا الحد بل تسعى كوادرها كافة للتوسع على الصعيدين الافقي
        والعامودي فقد
        حصلت الجامعة على موافقة وزارة التعليم العالي والبحث العلمي لاستحداث دراسات عليا بأقسام مختلفة اضافة لاستحداث
        اقسام
        دراسية جديدة تناسب المخرجات الاكاديمية التي يحتاجها سوق العمل حاليا.
      </p>
      <h5>رؤية و رسالة الجامعة وهويتها</h5>`
      <p>
      <span class="span">  :الرؤية </span> أن تكون كلية واسط رائدة بين مثيلاتها المحلية و العالمية،
      </p>
      <p> خلال الإسهام في مسيرة التقدم العلمي والثقافي، والتنمية الاقتصادية والاجتماعية في العراق.
      </p>
      <p>    <span class="span">  الرسالة :</span> اعداد برامج دراسية تتوافق و المعايير المعتمدة لدى المؤوسسات التعليمية العالمية
       </p>
       <p>                بما يسهم بصورة فعال في
           رفد سوق العمل و إعداد كوادر مؤهلة من الخريجين القادرين على المنافسة محليا وعالميا،
      </p>
<p>  وتعزيز دور الجامعة بوصفها مؤسسة
      رائدة في تقدم البحث العلمي وخدمة المجتمع وتنمية الموارد البشرية والمالية للكلية.
</p>
     <p> <span class="span">  الاهداف :</span>تشكل كلية واسط الجامعة حلقة من منظومة التعليم العالي والبحث العلمي في العراق،
</p>
    <p>من حيث الأهداف والسياقات
      والمخرجات،</p>   
      <p>مراعية تجربتها والموارد المتاحة اليها. واذ تحرص الجامعة على أداء مهامها بالانسجام مع توجهات ومناهج
      التعليم العالي,</p> 
       <p> فهي تعمل في الوقت عينه على إثراء تلك المناهج بمواصفات معرفية عالية لتعزيز الميزات التنافسية
      لخرجيها في سوق العمل.</p>
      
       <ui style="list-style-type: decimal; line-height: 2.3;">
        <li>  إعداد الملاكات البشرية من خريجي الجامعة و تأهيلهم علميا وثقافياً ومهنياً لرفد القطاع العام والخاص والمختلط بهم.
        </li>
        <li>  توفير إطار شامل لضمان الجودة يجمع بين التقويم الداخلي والخارجي.
</li>
        <li>تطوير واستحداث الاختصاصات و المناهج العلمية الحديثة لمواكبة التطور الحاصل عالميا في ضوء الإمكانات المتاحة
          للجامعة و بما يخدم سوق العمل.
    </li>
        <li>تطوير واستحداث الاختصاصات و المناهج العلمية الحديثة لمواكبة التطور الحاصل عالميا في ضوء الإمكانات المتاحة
      للجامعة و بما يخدم سوق العمل.</li>
        <li>  العمل على تحسين جودة المنتج التعليمي من خلال بناء مراكز بحثية حديثة بما يسهم باثراء و تطوير البحث العلمي في
      مختلف الاختصاصات.
</li>
        <li>  بناء شراكة حقيقية ومتينة مع المؤوسسات الاكاديمية العالمية والجامعات الرصينة بما يسهم في تعبيد طريق التعاون
      العلمي و الاكاديمي للجامعة لتاخذ مكانتها الحقيقية بين مثيلاتها.</li>
        <li>    توفير المناخ التنظيمي والإداري المؤاتي للهيئات التدريسية بما يضمن زيادة عطائها ويحفز لديها الميل الى التطور
      المعرفي والذاتي.</li>
        <li>     اقتران الجهد التدريسي بجهد تربوي مواز، بما يضمن النضج الاجتماعي الشامل لخريجي الجامعة.
</li>

<li>عقد المحاضرات والدورات والندوات والمؤتمرات ذات الصلة بالعملية التعليمية بما يخدم المجتمع المحلي والعربي
      والعالمي عن طريق عن طريق التعاون العلمي والثقافي مع الجامعات والمنظمات المعتمدة.
</li>
<li> الإسهام في بناء بيئة تعلم متكاملة للمجتمع يسودها الإبداع والتمييز والتفاعل الإيجابي داخل الجامعة وخارجها.
</li>

    </ui>
    <p></p>
    <p></p>
  <p>
   <span class="span"> المبادئ: </span> تعمل جامعة واسط على مصلحة الطلبة ورفع مستواهم العلمي والثقافي وتأهيلهم ليكونوا من النخب المتميزة
    داخلياً وإقليماً ودولياً.
  </p>
     <p>      إن العلم والتعليم أساس التطور الحضاري لاي بلد وهو الذي يحقق التنمية للمجتمعات الإنسانية،
</p>
<p>       كما تحافظ الجامعة على
      استقلاليتها بعيداً عن التوجهات السياسية والتحيز، والمحافظة على المساواة العلمية بشكل مستقل،</p>
<p>    والوصول إلى أعلى درجات
      الجودة المعتمدة عالمياً.</p>
   

    </div>
  </div>


  {%endblock%}
  



</body>
</html>
