<!DOCTYPE html>
<html lang="ar">

<head>
  {% extends 'layout.html' %}
  {%block title %} اليه التسجيل {%endblock%}

</head>

<body>
  {% block contact %}
 
      <div class="container">
        <p style="  line-height: 2.5; ">
          بعد ضهور اسمك في قوائم القبول تتبع التعلميات <br>


          اولا - تعهد قانوني .
          <br>

          ثانيا - تعهد الكفيل . <br>

          <br>

          ثالثا :
          جلب تاييد بالدرجات من المدرسة . <br>


          رابعا :
          جلب تاييد الكفيل . <br>

          <br>

          خامسا :
          المستمسكات المطلوبة للتسجيل <br>


          1 - هوية الاحوال المدنية للطالب مصورة . <br>


          2 - شهادة الجنسية للطالب مصورة . <br>


          3 - البطاقة التموينية مصورة . <br>


          4 - البطاقة الوطنية للطالب مصورة ان وجدت . <br>


          5 - بطاقة السكن مصورة . <br>


          6 - الفحص الطبي الاصلي . <br>


          7 - البطاقة المدرسية . <br>


          8 - صور ملونة عدد(4) حديثة . <br>


          9 - نسخة من القبول المركزي . <br>


          10 - مستمسكات الكفيل البطاقة الشخصية وتأييد من دائرته وهويته . <br>


          11 - هوية الاحوال المدنية لوالد الطالب مصورة . <br>


          12 - يحضر الطالب والكفيل الي الكلية .
          <br>
          <br>

          سادسا : <br>

          1 - دفع رسوم التسجيل الى الحسابات . <br>

          2 - توقيع الكفيل امام المشاور القانوني .
          <br>

          سابعا:
          يسلم الملف الى وحدة التسجيل .
        </p>


      </div>

    </section>
  {%endblock%}
</body>

</html>